.dash {
  background-color: #E3D26F;
  min-height: 450px;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 2em;
}

.post {
  background-color: #DBB323;
  font-size: 14px;
}

.label {
  font-size: 14px;
  margin-top: 1px;
}



.swarm-banner {
  margin-bottom: 1em;
}
// replaced with SVG 
// .map-header {
//   background-color: #DBB323 ;
//   margin-bottom: 1em;
//   font-size: 48px;
//   margin-top: -2em;
// }

// .frame {
//   background-color: #E3D26F;
//   height: 3.5em;
// }


// #E5C537 med
// #E3D26F light
// #DBB323 dark