// Place all the styles related to the swarms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #3A3833; 
}

.header.panel {
  margin: 3rem auto;
  background: #E5C537; 
  margin-top: 3em;
}

.swarm-head {
  margin-top: 3em;
}


// .header.panel .sign h1 {
//       text-transform: uppercase;
//       font: bolder 0.875rem;
//       letter-spacing: 3px;
//       color: #666;
//       font-size: 70%;
//       text-align: center;
//       line-height: 2rem; 
//     }

.button {
  text-align: center;
  }