<% flash.each do |msg| %>
  <li><%= msg %></li>
<% end %>

<h1> WELCOME TO BEE TOWN! </h1>


<%= link_to "I HAVE BEES", {controller: "swarms", action: "new"}, class: "button alert" %>

<%= link_to "SIGN UP", signup_path %>
<%= link_to "Login", login_path %>